@CHARSET "UTF-8";
#content {
    width: 100%;
    margin: 5% 20px 0 3%;
    height: 80%;
    overflow-y: hidden;
}
#content1 {
    width: 90%;
    height: auto;
    margin: 2% 10px 0 2%;
    background: aliceblue;
    background-color: rgba(0,0,0,0.3);
}
#pic{
    width: 40%;
    height: 60%;
    margin: 0 0 0 15%;
}
#content1 p{
    color: #ffffff;
}
#headimage {
    width: 100px;
    margin: 2% 0 2% 2%;
    float: left;
}
#nickname {
    float: left;
    margin: 20px 0 0 0;
    font-size: 2rem;
}
#contents {
    margin-left: 40px;
    margin-top: 40px;
    font-size: 4rem;
}